/* Base */
/* open-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/open-sans-v40-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/open-sans-v40-latin-300italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v40-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans-v40-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* cormorant-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Cormorant";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/cormorant-v21-latin-300italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* cormorant-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/cormorant-v21-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-dark-brand: #151618;
  --color-dark-default: #000000;
  --color-light-brand: #ffffff;
  --color-light-rare: #f7f2ea;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
blockquote {
  margin: 0;
}

body {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  color: var(--color-dark-brand);
  position: relative;
}
.title {
  text-align: center;
  margin-bottom: 60px;
  font-size: 40px;
  font-family: "Cormorant", serif;
  font-weight: 400;
}

/* .feedback__list-item.feedback__list-item--hide {
  display: none;
} */

button {
  padding: 0;
  border: none;
  background-color: transparent;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1240px;
}

/* Header */

/* .header {
  padding: 30px 0;
} */

.header__inner {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.logo {
  margin-bottom: 35px;
}

.menu__btn {
  display: none;
  width: 40px;
  height: 20px;
}

.mobile-nav,
.menu__close {
  display: none;
}

.menu__btn span {
  background-color: var(--color-dark-default);
  height: 2px;
  width: 100%;
}

.menu__list {
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 65px;
  margin-left: 85px;
  position: relative;
  z-index: 3;
}

.user-actions {
  display: flex;
  gap: 20px;
}

.user-actions__item--search {
  margin-left: 80px;
}

/* Top section */

.top {
  background-image: url(../images/top.jpg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
}

.top__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 500px;
  font-weight: 400;
  color: var(--color-light-brand);
  font-family: "Cormorant", serif;
}

.top__title {
  display: flex;
  max-width: 790px;
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 1;
}

.top__text {
  font-size: 24px;
  max-width: 558px;
  margin-bottom: 48px;
  line-height: normal;
}

/* blockquote  */

.blockquote__text {
  padding: 150px 0;
  max-width: 705px;
  margin: 0 auto;
  font-family: "Cormorant", serif;
  font-size: 40px;
  font-style: italic;
  text-align: center;
  line-height: normal;
}

/* Assortment section */

.assortment {
  padding-bottom: 150px;
}

.assortment__list {
  display: flex;
  text-align: center;
  gap: 40px;
}

.assortment__img {
  max-width: 208px;
  max-height: 208px;
  width: 100%;
}

.assortment__name {
  font-family: "Cormorant", serif;
  font-size: 24px;
  font-weight: 400;
  margin-top: 10px;
  line-height: normal;
}

/* Feedback section */

.feedback {
  padding: 60px 0;
  background-color: var(--color-light-rare);
}

.feedback__list {
  display: flex;
  justify-content: center;
  gap: 0 26px;
}

.feedback__list-item {
  flex-basis: 280px;
}

.feedback__text {
  line-height: normal;
  font-style: italic;
  font-size: 16px;
  margin-bottom: 10px;
}

.blockquote__cite {
  font-weight: 600;
  font-style: normal;
}
/* Tea blog section */

.tea-blog {
  padding: 150px 0;
}

.tea-blog__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 58px;
  justify-content: space-between;
}

.tea-blog__item {
  flex-basis: 542px;
  display: flex;
  gap: 20px;
}

.tea-blog__item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tea-blog__item-title {
  font-family: "Cormorant", serif;
  line-height: normal;
  font-size: 24px;
  font-weight: 400;
}

.tea-blog__item-author {
  font-size: 13px;
}

.tea-blog__item-link {
  font-size: 13px;
  position: relative;
}

.tea-blog__item-link::after {
  content: "";
  background-image: url(../images/arrow.svg);
  width: 5px;
  height: 10px;
  position: absolute;
  margin-left: 8px;
  bottom: 5px;
}

.tea-blog__link {
  margin: 72px auto 0;
  padding: 12px 41px;
  display: block;
  border: 1px solid var(--color-dark-brand);
  width: 152px;
}

/* Adaptive */
/* <------------------------------------------------------------------> */

@media (max-width: 1000px) {
  .user-actions__item--search {
    margin-left: 30px;
  }
  .menu {
    margin-right: auto;
  }
  .menu__list {
    margin-left: 60px;
  }
  .logo {
    margin-bottom: 0;
  }
  .blockquote__text {
    padding-top: 120px;
    padding-bottom: 135px;
  }
  /* Assortment section */

  .assortment {
    padding-bottom: 120px;
  }
  .title {
    margin-bottom: 30px;
  }
  .assortment__list {
    gap: 0;
  }
  /* Feedback section */
  .feedback__list-item:last-child {
    display: none;
  }
  /* Tea blog section */

  .tea-blog {
    padding: 120px 0;
  }
}

@media (max-width: 860px) {
  .logo {
    margin-right: 154px;
    margin-left: auto;
  }
  .menu {
    order: -1;
    margin-right: 0;
  }
  .menu__list {
    transform: translateY(-100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    padding-top: 60px;
    width: 480px;
    margin: 0 auto;
    text-align: center;
    background-color: var(--color-light-brand);
    transition: transform 0.7s ease;
  }

  .menu__list.menu__list--open {
    transform: translateY(0%);
  }
  .menu__btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 2;
  }
  .menu--close {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .menu--close.menu--open {
    display: block;
  }

  .menu__close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .mobile-nav,
  .menu__close {
    display: block;
  }

  .menu__item {
    margin-bottom: 30px;
    font-size: 24px;
    font-family: "Cormorant", serif;
  }
  .mobile-menu {
    margin: 60px 30px;
    padding-top: 60px;
    border-top: 2px solid var(--color-light-rare);
  }
  .mobile-menu__item {
    margin-bottom: 35px;
  }
  .mobile-actions {
    background-color: var(--color-light-rare);
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
    padding: 20px 0px;
  }
}

@media (max-width: 768px) {
  .header__inner {
    padding: 0 64px;
  }
  .blockquote__text {
    max-width: 640px;
  }
  /* Assortment section */
  .assortment__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  /* Feedback section */

  .feedback__list-item:last-child {
    display: block;
  }
  .feedback__list {
    flex-wrap: wrap;
    gap: 30px 76px;
  }
}

@media (max-width: 680px) {
  .container {
    padding: 0 10px;
  }
  .header__inner {
    padding: 0;
  }
  .top__title {
    font-size: 40px;
    line-height: normal;
  }
  .blockquote__text {
    max-width: 376px;
    font-size: 16px;
    padding: 60px 0;
  }
  .feedback__list {
    gap: 15px 5px;
    justify-content: space-around;
  }
}

@media (max-width: 480px) {
  .logo {
    margin-right: 80px;
  }
  .logo img {
    width: 40px;
  }
  .menu__list {
    width: 360px;
  }
  /* Assortment section */
  .assortment {
    padding-bottom: 60px;
  }
  /* Feedback */
  .feedback {
    padding: 50px 0;
  }
  .feedback__list {
    gap: 30px 20px;
  }
  .feedback__list-item {
    flex-basis: 220px;
  }
  /* Tea blog */
  .tea-blog {
    padding: 60px 0;
  }
}

@media (max-width: 360px) {
  .logo {
    margin-right: 50px;
  }
  .blockquote__text {
    padding-top: 70px;
    padding-bottom: 80px;
    max-width: 340px;
  }
  .user-actions__item--search {
    margin-left: 0;
  }
  .header__inner {
    padding: 10px 0;
  }
  .top__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .top__text {
    font-size: 13px;
    margin-bottom: 30px;
  }
  .top__inner {
    min-height: 368px;
  }
  /* Assortment section */

  .assortment {
    padding-bottom: 80px;
  }
  .assortment__img {
    max-width: 152px;
  }
  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  /* Feedback section */

  .feedback__title {
    font-size: 24px;
  }

  .feedback__list {
    gap: 30px;
  }
  .feedback__list-item {
    flex-basis: 100%;
  }

  .feedback__list-item:first-child,
  .feedback__list-item:last-child {
    display: none;
  }

  /* Tea blog */
  .tea-blog {
    padding: 50px 0;
  }
}
